# .envrc

# Export Vagrant Cloud access token as an environment variable
vagrant_cloud_info="${HOME}/.vagrant-cloud"
env_name_access_token="VAGRANT_CLOUD_TOKEN"

access_token_line="$(grep ^access_token ${vagrant_cloud_info})"
access_token="${access_token_line##*=}"

export ${env_name_access_token}=${access_token}
