# .envrc

# Export Vagrant Cloud access token as an environment variable
token="$(op item get --vault='Private' jfaj67wq3wdhqwxlveptqmp7v4 --fields credential 2>/dev/null)"
if [ -z "$token" ]; then
    echo "Could not get Vagrant Cloud Token from 1Password"
    echo "Ensure you have the 1Password CLI installed and are signed in to 1Password"
else
    echo "Obtained Vagrant Cloud Token"
    export VAGRANT_CLOUD_ACCESS_TOKEN="${token}"
fi
