# OS X Finder: Custom folder attributes file.
.DS_Store
# Ignore all packer cache files
**/packer_cache/
# Ignore all output files
**/output-*/
# Ignore boxes and associated files
**/boxes/*.box
**/boxes/*.json
# Ignore logs
*log
# Ignore all files under directories named 'vagrantfiles' - these will contain
# dynamically generated Vagrantfiles for inclusion in the resultant box
**/vagrantfiles/**
# ... except any directories or subdirectories under 'vagrantfiles'...
!**/vagrantfiles/**/
# ... that end in '.snippet'
!*.snippet
# ... or .md
!*.md
# Ignore tmp files in ${TMPDIR}
tmp/**
