# Debian Preseed configuration file
#
#
## Clock, Time Zone, Default locale and additional locales to be generated
#
d-i time/zone string UTC
d-i clock-setup/utc boolean true
d-i clock-setup/utc-auto boolean true
d-i debian-installer/locale string en_GB.UTF-8
d-i localechooser/supported-locales multiselect en_US.UTF-8
#
#
## Debian mirror settings
#
# Use a network mirror
d-i apt-setup/use_mirror boolean true
d-i mirror/country string manual
d-i mirror/http/directory string /debian
d-i mirror/http/proxy string
# Setting to httpredir.debian.org will auto set the best mirror for us
d-i mirror/http/hostname string httpredir.debian.org
#
#
## GRUB settings
#
# Note: The following should only be considered safe for Packer builds
#
# Configure the device that GRUB should be installed to. Setting default
# here will install to the MBR of the first device
d-u grub-installer/bootdev string default
# Set whether to auto install GRUB to the MBR if no other OS is found
d-i grub-installer/only_debian boolean true
# Set whether to auto install GRUB to the MBR even if another OS is found
d-i grub-installer/with_other_os boolean true
#
#
## Disk partitioning
#
d-i partman-auto/method string regular
d-i partman-basicfilesystems/no_swap boolean false
d-i partman-auto/choose_recipe select boot-root
d-i partman-auto/expert_recipe string                                \
        boot-root ::                                                 \
                150 1 150 ext4                                       \
                    $primary{ }                                      \
                    $bootable{ }                                     \
                    method{ format } format{ }                       \
                    use_filesystem{ } filesystem{ ext4 }             \
                    mountpoint{ /boot }                              \
                    label{ BOOT }                                    \
                .                                                    \
                1024 1 -1 ext4                                       \
                    $primary{ }                                      \
                    method{ format } format{ }                       \
                    use_filesystem{ } filesystem{ ext4 }             \
                    mountpoint{ / }                                  \
                    label{ ROOT }                                    \
                .                                                    \
# So long as the method above has given all the information needed to
# partition the disk, the following will allow partman to proceed without
# requiring further confirmation
d-i partman/confirm_write_new_label boolean true
d-i partman/choose_partition select finish
d-i partman/confirm boolean true
d-i partman/confirm_nooverwrite boolean true
#
#
## Set up system users
#
d-i user-setup/allow-password-weak boolean false
d-i user-setup/encrypt-home boolean false
# Skip creation of a root user account; Normal user will be able to sudo
d-i passwd/root-login boolean false
# Create the packer build users account
d-i passwd/user-fullname string Packer Build User
d-i passwd/username packer
# Configure the UID so we do not take the default
d-i passwd/user-uid string 1025
# Use 'mkpasswd --method=sha-512 --rounds=6' (from the whois package)
# to create a passwd.
d-i passwd/user-password-crypted password $6$rounds=1000$63OO6bIlM$VPvjciwwjENe9ltkTAOcLdFXFIw/DYcfmHldwXO/iddmzjJVZXiqfvW9u1.ZKkSEPl3Nq3fwaeHEqTct1.Y9/1
#
#
## Software selection and Package manager setup
#
# Set whether to configure additional CD's in the APT sources list
apt-cdrom-setup apt-setup/cdrom/set-first boolean false
# Set whether to use a network mirror for APT sources list
apt-mirror-setup apt-setup/use_mirror boolean true
# Set whether to participate in package popularity contest
popularity-contest popularity-contest/participate boolean false
# Configure APT to NOT install recommended packages by default. Note that
# this will also configure APT on the installed system in the same way
d-i base-installer/install-recommends boolean false
#
#
# Set minimal install by 'deselecting' all options from task groups
tasksel tasksel/first multiselect
# Set the kernel image (meta) package to be installed
d-i base-installer/kernel/override-image string linux-server
# Select individual packages for installation
d-i pkgsel/include string bash-completion bzip2 ca-certificates chrony dbus dkms file info less libpam-systemd man-db manpages openssh-server python sudo tree wget
# Set whether to install language support packs
d-i pkgsel/install-language-support boolean false
# Set the policy for applying updates to the installed system
# Allowed values are:
# none => No automatic updates
# unattended-upgrades => Install security updates automatically
d-i pkgsel/update-policy select none
# Set whether to upgrade packages after debootstrap
# Allowed values are: none, safe-upgrade, full-upgrade
d-i pkgsel/upgrade select full-upgrade
#
#
## Early commands - Run just after the preseed file is read
#
# Prevent packaged version of VirtualBox Guest Additions being installed:
d-i preseed/early_command string sed -i \
  '/in-target/idiscover(){/sbin/discover|grep -v VirtualBox;}' \
  /usr/lib/pre-pkgsel.d/20install-hwpackages
#
#
## Late commands - Run just before the installer completes
#
# Note: There are issues with some commands when used with the in-target
# option. Strangely mkdir, echo and chmod do not work when used with the
# in-target option, while chown does. This is probably a bug.
d-i preseed/late_command string \
in-target passwd --lock root ; \
sed -i '/^deb cdrom:/s/^/#/' /target/etc/apt/sources.list ; \
[[ ! -d /target/home/packer/.ssh ]] && mkdir -p -m 0700 /target/home/packer/.ssh ; \
echo 'ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAACAQDV14up9OBdbyUPuuSCUOnSyTZOTx4i13nyIASlkQpLs7zKUIJL8Sni7BASmN3LFi9+BsiuBxC3RkVj84H6fe+mKqC6zpdFtWE2dN7U0bOXGVnDPOSXcW7B52NRP+sL7ShTcpDBsLUq0N4Hc64XSTOAbfOiQY9OUPSiW5nUQSuPHm9K1G0w//dImqyiikBWvBWJag2phaZDbeOz7nHcOdZnLhv0uWZBq/YRSdo0Jyn3yg/lG07PaWslPPw2s4eG7i/eWNbkWUshvRGdzU+pf5NCQl4iCetuaXlPUpIFZzjTgPE5IE+gXCue7Bg08ZAz25lk3g8B3TYlhfCkVm/8nQAGuYnTLMfxwacPJIXDTd/mD7efyNOOpz8nmylZoaiFBVrQWdmlVopqIMXArK+/NE4Md58ErUKPQY0Z/J/rFANN4JRFVU2XcC/0wl+uTvPxigspLpozp4mmjG/JCUhTNbihK/ICd4G87Xl+SAGoCEfly3NQcXpLgRUJou255Gj+CkRT2cOeCoNDhLlDLJ7d/twB0LzVfgQAGMCMWButudiCaX6NOSDhUAcHIKoNxQN28cO1xKGrEKxlw0iR2XWUftowxjfvifRYlbHAtrw6UXofNiZWfl8fPpHKPvbEgB83kK3OMWMP1cUAksMCUJdD8hCMPFxLS9Kj6cSz9Xlq/CSKyQ== JustSomeFooKey' > /target/home/packer/.ssh/authorized_keys ; \
chmod 0600 /target/home/packer/.ssh/authorized_keys ; \
in-target chown -R packer:packer /home/packer/.ssh ; \
echo "%packer ALL=(ALL) NOPASSWD: ALL" >> /target/etc/sudoers.d/packer ; \
chmod 0440 /target/etc/sudoers.d/packer
#
#
## Completion
#
# Set to not display the install completion message
d-i finish-install/reboot_in_progress note
