# Debian Preseed configuration file
#
#
## Clock and Time Zone
#
d-i time/zone string UTC
d-i clock-setup/utc boolean true
d-i clock-setup/utc-auto boolean true
#
#
## Debian mirror settings
#
# Use a network mirror
d-i apt-setup/use_mirror boolean true
d-i mirror/country string manual
d-i mirror/http/directory string /debian
d-i mirror/http/proxy string
# Setting to httpredir.debian.org will auto set the best mirror for us
d-i mirror/http/hostname string httpredir.debian.org
#
#
## GRUB settings
#
# Note: The following should only be considered safe for Packer builds
#
# Configure the device that GRUB should be installed to. Setting default
# here will install to the MBR of the first device
d-u grub-installer/bootdev string default
# Set whether to auto install GRUB to the MBR if no other OS is found
d-i grub-installer/only_debian boolean true
# Set whether to auto install GRUB to the MBR even if another OS is found
d-i grub-installer/with_other_os boolean true
#
#
## Disk partitioning
#
d-i partman-auto/method string regular
d-i partman-auto/choose_recipe select boot-root-swap
d-i partman-auto/expert_recipe string                                \
        boot-root-swap ::                                            \
                150 1 150 ext4                                       \
                    $primary{ }                                      \
                    $bootable{ }                                     \
                    method{ format } format{ }                       \
                    use_filesystem{ } filesystem{ ext4 }             \
                    mountpoint{ /boot }                              \
                    label{ BOOT }                                    \
                .                                                    \
                512 100% 200% linux-swap                             \
                    $primary{ }                                      \
                    method{ swap }                                   \
                    format{ }                                        \
                    label{ SWAP }                                    \
                .                                                    \
                5120 1 -1 ext4                                       \
                    $primary{ }                                      \
                    method{ format } format{ }                       \
                    use_filesystem{ } filesystem{ ext4 }             \
                    mountpoint{ / }                                  \
                    label{ ROOT }                                    \
                .                                                    \
# So long as the method above has given all the information needed to
# partition the disk, the following will allow partman to proceed without
# requiring further confirmation
d-i partman/confirm_write_new_label boolean true
d-i partman/choose_partition select finish
d-i partman/confirm boolean true
d-i partman/confirm_nooverwrite boolean true
#
#
## Set up system users
#
d-i user-setup/allow-password-weak boolean false
d-i user-setup/encrypt-home boolean false
# If no password is configured for the root user then the configured user
# will be given sudo administrative privileges
d-i passwd/root-login boolean false
d-i passwd/user-fullname string "Debian Administrator"
d-i passwd/username string debadmin
# Use 'mkpasswd --method=md5' (from the whois package) to create a passwd
d-i passwd/user-password-crypted password $1$kIIaTHRM$A1Rek73sjS2rTJBWjfjcw/
#
#
## Software selection and Package manager setup
#
# Set whether to configure additional CD's in the APT sources list
apt-cdrom-setup apt-setup/cdrom/set-first boolean false
# Set whether to use a network mirror for APT sources list
apt-mirror-setup apt-setup/use_mirror boolean true
# Set whether to participate in package popularity contest
popularity-contest popularity-contest/participate boolean false
# Configure APT to NOT install recommended packages by default. Note that
# this will also configure APT on the installed system in the same way
d-i base-installer/install-recommends boolean false
#
#
# Set minimal install by 'deselecting' all options from task groups
tasksel tasksel/first multiselect
# Set the kernel image (meta) package to be installed
d-i base-installer/kernel/override-image string linux-server
# Select individual packages for installation
d-i pkgsel/include string openssh-server sudo bzip2 tree wget dkms bash-completion
# Set whether to install language support packs
d-i pkgsel/install-language-support boolean false
# Set the policy for applying updates to the installed system
# Allowed values are:
# none => No automatic updates
# unattended-upgrades => Install security updates automatically
d-i pkgsel/update-policy select none
# Set whether to upgrade packages after debootstrap
# Allowed values are: none, safe-upgrade, full-upgrade
d-i pkgsel/upgrade select full-upgrade
#
#
## Early commands - Run just after the preseed file is read
#
# Prevent packaged version of VirtualBox Guest Additions being installed:
d-i preseed/early_command string sed -i \
  '/in-target/idiscover(){/sbin/discover|grep -v VirtualBox;}' \
  /usr/lib/pre-pkgsel.d/20install-hwpackages
#
#
## Late commands - Run just before the installer completes
#
# Note: There are issues with some commands when used with the in-target
# option. Strangely mkdir, echo and chmod do not work when used with the
# in-target option, while chown does. This is probably a bug.
d-i preseed/late_command string \
sed -i '/^deb cdrom:/s/^/#/' /target/etc/apt/sources.list ; \
[[ ! -d /target/etc/sudoers.d ]] && mkdir -p -m 0440 /target/etc/sudoers.d ; \
echo 'debadmin  ALL=(ALL)  NOPASSWD: ALL' > /target/etc/sudoers.d/vagrant-user ; \
echo 'Defaults:debadmin !requiretty' >> /target/etc/sudoers.d/vagrant-user ; \
chmod 0440 /target/etc/sudoers.d/vagrant-user ; \
mkdir /target/home/debadmin/.ssh ; \
echo 'ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAACAQCrYCKov6bVLWNQnC9ieaJ/wfIHt8HaFzts+7DjA0zB9zYPUlnzAGYNuGYmJ39DTL9qhSN0OwmonDsvPKoyJlJ+mtCvEGxhXnH381n+8aVc5J9HvddYf8BGSZlgxxOmCefY9o/as6JWKc0JLwyHNehgdtcgAvh6ay/cE9exF+2yqurRTRH5fr5NrFpGymB9JKL1tfxw7nHcr9sAI6U2rBGD3w334nn0tu+cGX7rT3eMlOIPrtDViEx9E/Hmh3vAJDKyt0ZfPDa6dsyKONGpWl4yEvOsc95A25yqLAfyiNjKgu+PbmtAH82axHeWx4u4Cso2Im4OrtoI9yV1EBNsaDiwi8sgsg7pGoKBsGVqsFwi+9ljnAoHfW2SLjReY5H4tczWQWIOq8G56SUY83qyue2JdrWbP0ohZCtWVgq+iw7oM8hM2tYyxVIaH05CMLN0noMiXvKbPpQTEAtZtNYGppjKiUlM9yUmU8si7a0vL37Wkik4hF8NAUmHzEmZPP+kLl7JHgxMoE7wVmwjmRK3AzuWOzH88XEreNrPn9FjcPardrKmarjpXff1Md81O6UavodT2eFl8dZEjKvEhHWLHQ+piUXMWZHtqDy8Q0dvMdCoZBCLwZCyYF/h67U8ftr5ssyOvUejSyEmlK4Sj4b3iyNAeDJWkEikFawnCd3X+/smew== vagrant@neos-infrastructure.com' > /target/home/debadmin/.ssh/authorized_keys ; \
chmod 0600 /target/home/debadmin/.ssh/authorized_keys ; \
in-target chown -R debadmin:debadmin /home/debadmin/.ssh
#
#
## Completion
#
# Set to not display the install completion message
d-i finish-install/reboot_in_progress note
