# Virtualbox specific options
config.vm.provider :virtualbox do |vb|
  vb.customize ['modifyvm', :id, '--memory', 2048]
  vb.customize ['modifyvm', :id, '--cpus', 2]
  vb.customize ['modifyvm', :id, '--vram', 48]
  vb.customize ['setextradata', 'global', 'GUI/SuppressMessages', 'all']
end
