# VMware provider specific options
config.vm.provider 'vmware_desktop' do |vd|
  vd.vmx['memsize'] = '2048'
  vd.vmx['numvcpus'] = '2'
  vd.vmx['scsi0.virtualDev'] = 'lsisas1068'
  vd.vmx['RemoteDisplay.vnc.enabled'] = 'false'
  vd.whitelist_verified = true
end
